/* ===== HEADER ===== */
#mypage-header {
    background-color: #748873;
    color: #FFFFFF;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* ===== FOOTER ===== */
#mypage-footer {
    background-color: #748873;
    color: #F8F9FA;
    min-height: 10px;
    z-index: 1000;
    overflow: hidden;
}

#mypage-footer-content {
  display: none;
}

/* ===== CARD ===== */
.card-content {
    border: 2px solid #748873;
    background-color: #F8F9FA;
    color: #2C3E50;
}

/* ===== RESUME CONTAINER ===== */
#resume-container {
    color: #2C3E50;
    background-color: #FFFFFF;
}

/* ===== NAVIGATION ===== */
#mypage-center-content .nav-item .nav-link {
    color: #748873 ;
    font-weight: 500 ;
    background-color: transparent;
}

#mypage-center-content .nav-link.active {
    border-color: transparent ;
    color: #fff ;
    background-color: #198754 ;
    border-radius: 6px; 
}

/* ===== TITLES ===== */
.list-content-title {
   color: #5A6B5A;
   font-size: 20px;
}

#resume-container .card-title {
    color: #748873 ;
    font-size: 25px ;
}

/* ===== CONTENT SECTIONS ===== */
.middle-section-content {
    background-color: #F8F9FA;
}

.middle-section-content .text {
    color: #374151;
    font-size: 20px;
}
